<div class="container-fluid"> --}}
  <!--1st row holds the logo and application name-->
  <div class="row">
    <div class="col-12"><br>
      <!-- card that allows teach to upload class image -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Upload image of class here</h5>
          <h6 class="card-subtitle mb-2 text-muted">Face detection will identify all students in
            class room</h6>
          <!-- uploader and possible option for preview -->
          <input type="file" onchange="previewFile()">
          <!-- buttons or links to submit/approve or cancel -->
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      {{!-- end add in photo maybe move to diff section --}}